<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton_s_60_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,1700},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,1700},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,1700},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_s_60_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,1700},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>neow.png</string>
            <key>size</key>
            <string>{2040,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:333cac742ca744be5aaa254825f30241:4fe2d012bbaed2d4c700a1cab51346d5:7fd897500798d331005ade986224b61d$</string>
            <key>textureFileName</key>
            <string>neow.png</string>
        </dict>
    </dict>
</plist>
