<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton_I_120_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2040,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2380,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2720,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3060,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3400,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3740,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2040,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2380,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2720,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3060,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3400,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3740,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2040,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2380,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2720,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3060,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3400,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3740,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2040,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2380,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2720,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3060,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3400,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3740,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2040,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_120_055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2380,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Idle.png</string>
            <key>size</key>
            <string>{4080,1700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68ff4cc5e9c1be3f3b38cf330f4d457a:674f2b00eb73a83475250b4a92b276db:f4a1cbca3384d0685fe55d1d95fabf79$</string>
            <key>textureFileName</key>
            <string>Idle.png</string>
        </dict>
    </dict>
</plist>
