<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton_I_60_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2040,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2380,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2720,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3060,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3400,0},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2040,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2380,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2720,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3060,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3400,340},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2040,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2380,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2720,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3060,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3400,680},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2040,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2380,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2720,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3060,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3400,1020},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{0,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{340,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{680,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1020,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1360,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1700,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2040,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2380,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{2720,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_I_60_053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{3060,1360},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lagavulin.png</string>
            <key>size</key>
            <string>{3740,1700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c977c9c97150b3de3ccbefdf217603d:ffb4c8ab3fede0d7b39db0e101767a7c:d81e1c331d1f2b6358177e9a95ebc5b9$</string>
            <key>textureFileName</key>
            <string>lagavulin.png</string>
        </dict>
    </dict>
</plist>
