<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton_i_60_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{0,0},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{740,0},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{1480,0},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{2220,0},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{2960,0},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{3700,0},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{4440,0},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{5180,0},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{5920,0},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{6660,0},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{0,540},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{740,540},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{1480,540},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{2220,540},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{2960,540},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{3700,540},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{4440,540},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{5180,540},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{5920,540},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{6660,540},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{0,1080},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{740,1080},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{1480,1080},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{2220,1080},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{2960,1080},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{3700,1080},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{4440,1080},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{5180,1080},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{5920,1080},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{6660,1080},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{0,1620},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{740,1620},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{1480,1620},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{2220,1620},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{2960,1620},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{3700,1620},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{4440,1620},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{5180,1620},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{5920,1620},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{6660,1620},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{0,2160},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{740,2160},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{1480,2160},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{2220,2160},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{2960,2160},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{3700,2160},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{4440,2160},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{5180,2160},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{5920,2160},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{6660,2160},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{0,2700},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{740,2700},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{1480,2700},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{2220,2700},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{2960,2700},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{3700,2700},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{4440,2700},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{5180,2700},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{5920,2700},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{6660,2700},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{0,3240},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{740,3240},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{1480,3240},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{2220,3240},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{2960,3240},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{3700,3240},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_i_60_066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,540}</string>
                <key>spriteSourceSize</key>
                <string>{740,540}</string>
                <key>textureRect</key>
                <string>{{4440,3240},{740,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guardian.png</string>
            <key>size</key>
            <string>{7400,3780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa352ffac549dadccc9a82309313edee:75b471d458b8c6e3a9039287660abd52:dca99e2384e27266d077b53fde3f8c15$</string>
            <key>textureFileName</key>
            <string>guardian.png</string>
        </dict>
    </dict>
</plist>
